body	{
	background-color: beige; color: #111111;
	width: auto%;
	height: 100%;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border: double;
}

div	{
	text-align: center;
	font-size 20px;
}

a:link	{
	color: blue;
}
a:visited{
	color: ;
}
p	{
	text-align: left;
}
footer	{
	position: auto;
	bottom: 10px;
	left: 10px;
}
