body	{
	background-image: url("images/circuit.png"); 
	color: #111111;
	width: auto;
	max-width: 800px;
	height: 100%;
	margin: auto;
	padding: 10px;
	border: double;
}

.header {
	text-align: center;
	font-size 25px;
	background-color: #efefef; color #ffffff;
	width: auto;
	max-width: 800px;
	height: 100px;
	margin: auto;
	padding: 10px;
	border: double;
}

div {
	text-align: center;
	font-size: 20px;
}

a:link	{
	color: blue;
}
a:visited{
	color: ;
}
p	{
	text-align: left;
}
footer	{
	position: auto;
	bottom: 10px;
	left: 10px;
}
