.cj {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}
a:link	{
	color: blue;
}
a:visited{
	color: grey;
}
body	{
	background-color: #bdb6a6;
	color: #111111;
	width: auto;
	height: 100%
	margin: 10px;
	padding: 0%;
}
footer	{
	position: auto;
	bottom: 10px;
	left: 10px;
}
#title	{
	text-align: center;
	font-size: 20px;
}
#char	{
	text-align: center;
}
#dialog	{
	text-align: center;
	width: 1000px;
}
