html {
  background-color: linen;
}

body {
  font-family: "Lato", sans-serif;
}

table, th, td {
  border: 1px solid black;
  font-size: 1.5vw;
}

h1 {
	text-align: center;
	height: ;
	font-size: 1.5em;
	-webkit-font-smoothing: antialiased;
}
h2 {
	text-align: center;
	font-size: 1.25em;
}
h3 {
	text-align: center;
	font-size: 1.0em;
}
hr {
	color: black;
	max-width: 50%;
}
a:link	{
	color: darkslategrey;
}
a:visited{
	color: grey;
  text-decoration: none;
}

p {
	text-align: left;
	font-size: 0.875em;
}

p.pullquote {
  text-align: center;
  margin-right: 28%;
  margin-left: 28%;
  font-size: 1.1em;
  color: grey;
}

ul {
	font-size: 0.875em;
}

ul.links {
  font-size: 0.875em;
  list-style-type: none;
}

ol {
	font-size: 0.875em;
}

footer	{
	font-size: 0.75em;
	position: auto;
	padding-bottom: 5px;
}

p.footnote {
	font-size: 0.7em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	flex: 50%;
	padding: 5px;
}

/* Clear floats after image containers */
.row {
	display: flex;
	justify-content: center;
}

/* Circular Images */
.cir_img_me {
	border-radius: 50%;
}

/* Sidebar */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkslategrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: linen;
  display: block;
}

.sidenav a:hover {
  color: black;
  background-color: linen;
}

.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 2vw; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 10px;}
}
